*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #001532;
}

header{
    height: 75px;
    background-color: #fff;
    position: fixed;
    width: 100vw;
}

.logo-boolean{
    max-width: 75px;
    min-width: 50px;
}

main{
    padding-top: 90px;
    padding-bottom: 50px;
}

.containerGrid{
    width: 75vw;
    min-height: 100vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.squareEasy{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: calc(100% / 4);
    border: 3px solid #001532;
    background-color: #fff;
    transition: all 0.25s;
    color: #000;
    font-size: 20px
}

.squareMedium{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: calc(100% / 4);
    border: 3px solid #001532;
    background-color: #fff;
    transition: all 0.25s;
    color: #000;
    font-size: 20px
}

.squareHard{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: calc(100% / 4);
    border: 3px solid #001532;
    background-color: #fff;
    transition: all 0.25s;
    color: #000;
    font-size: 20px
}

.clicked{
    background-color: #01E165;
    color: #000;
    font-weight: 800;
}

.squareEasy:hover{
    border: 1px solid #001532;
}

.squareEasy:active{
    border: 5px solid #001532;
}

.squareMedium:hover{
    border: 1px solid #001532;
}

.squareMedium:active{
    border: 5px solid #001532;
}

.squareHard:hover{
    border: 1px solid #001532;
}

.squareHard:active{
    border: 5px solid #001532;
}

.bomb{
    background-color: red;
    color: white;
}


.custom-select {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.custom-select:focus {
    box-shadow: 0 0 0 0.25rem #01E165;
}

.btn-custom{
    background-color: #01E165;
}

.btn-custom:hover{
    background-color: #00ff73;
}

.game-over{
    pointer-events: none;
}

@media screen and (min-width : 576px) {
    .squareEasy{
        width: calc(100% / 5);
        height: calc(100% / 5);
    }
    .squareMedium{
        width: calc(100% / 5);
        height: calc(100% / 5);
    }
    .squareHard{
        width: calc(100% / 5);
        height: calc(100% / 5);
    }
    
}

@media screen and (min-width : 786px) {
    .squareEasy{
        width: calc(100% / 10);
        height: calc(100% / 10);
    }
    .squareMedium{
        width: calc(100% / 9);
        height: calc(100% / 9);
    }
    .squareHard{
        width: calc(100% / 7);
        height: calc(100% / 7);
    }
    
}